body {

}

#container {
    font-size: 16px;
    text-align: inherit;
    max-width: 100vw;
    color: black;
    text-align: center;   
    padding-left: 16px;
    padding-right: 16px;
}

#namepage {
    height: 50px;
    color:black;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 18px;
    text-align: center;
    border-bottom-style: inset;
    display: flex;
    justify-content: center;
    align-items: center;
}



#inputs-group-container {
    display: flex;
    padding: 16px;
}

#separator-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding-left: 0px;
}
#buttons {
    margin-bottom: 32px;
}
input {
    border-radius: 8px;
    height: 26px;
    border: 2px solid #ccc;
    width: 200px;
    margin-right: 8px;
}

#end {
    font-size: 17px; 
    
}
